/* import font */
@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400;700;900&family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&display=swap');

html{
    box-sizing: border-box;
    font-size: 16px;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}
body{
    font-family: 'Roboto Slab', serif;
    box-sizing: border-box;
    width: 100%;
}
.container{
    width: 100%;
}
/* header */
.header{
    width: 100%;
    height: 100px;
    text-align: center;
    font-weight: 700;
    font-size: 2rem;
    background-color: #f1eeee;
}
.header p{
    font-family: 'Merriweather', serif;
    display: inline-block;
    margin: 25px ;
    color: rgb(72, 72, 72);
    border-bottom: 1px solid rgb(72, 72, 72);
}

/* main */
.main{
    width: fit-content;
    min-width: 300px;
    margin: 100px auto;
    padding: 5px;
    background-color: #3D9589;
}
.question-number{
    color: #3D9589;
    font-weight: 500;
    padding-bottom: 5px;
    border-bottom: 1.5px solid rgba(128, 128, 128, 0.423);
    margin-bottom: 10px;
}
.questions{
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    color: rgb(104, 104, 104);
    font-size: 1rem;
}

.answers{
    list-style: none;
    margin: 10px 0;
}
.answers li{
    font-size: 1rem;
    padding:8px;
    background-color: rgba(179, 179, 179, 0.46);
    border: 1px solid rgba(179, 179, 179, 0.46);
    margin-bottom: 5px;
    font-size: 0.8rem;
    border-radius: 3px;
}
.answers li:hover{
    background-color: white;
    
}
button{
    padding: 5px 15px;
    background-color: #3D9589;
    border: 1px solid #3D9589;
    border-radius: 3px;
    color: white;
    font-weight: 500;
}
button:hover{
    background-color: white;
    color: #3D9589;
}
.circles{
    display: flex;
    margin-top: 10px;
}
.q1,.q2, .q3{
    width: 20px;
    height: 23px;
    text-align: center;
    background-color: rgba(128, 128, 128, 0.325);
    border-radius: 50%;
    margin-right: 2px;
    color: white;
}

.answered{
    background-color: green;
}

/* mobile style */
@media screen and (max-width: 480px) {
 
}